<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon1.svg') }}">
    <title>Редактор растровой графики</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">

        <!-- Ссылки на другие редакторы -->
        <div class="pagesbar">
            <a href="{{ url_for('name') }}">Растровая графика</a>
            <a href="{{ url_for('vector_graphics') }}">Векторная графика</a>
            <a href="{{ url_for('treeDgraphic') }}">3D графика</a>
        </div>
        
        <!-- Панель закрузки и сохранения -->
        <div class="toolbar">
            <!-- Форма для загрузки изображения -->
            <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" id="imageInput" name="image" accept="image/*" required>
                <button type="submit">Загрузить изображение</button>
            </form>
            
            <!-- Форма вызагрузки изображения -->
            <form action="/save" method="post" class="save-form">
                <div class="save-options">
                    <label>Формат сохранения:</label>
                    <select name="format" required>
                        <option value="JPEG">JPEG</option>
                        <option value="PNG">PNG</option>
                        <option value="TIFF">TIFF</option>
                    </select>
                    
                    <label>Качество (только для JPEG):</label>
                    <input type="range" name="quality" min="1" max="100" value="95">
                    <span class="quality-value">95%</span>
                </div>
                <button type="submit">Сохранить изображение</button>
            </form>

            <!-- Другие формы -->
        </div>

        <!-- Сообщения об ошибках -->
        {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
        {% endif %}
        
        <div class="workspace-container">

            <!-- Панель инструментов -->
            <div class="toolbar-container">

                <!-- Изменение размера -->
                <div>
                    <button title="Изменение размера" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-resize-724946.png') }}" alt="Размер" width="20">
                    </button>
                </div>

                <!-- Вырезка фрагмента изображения -->
                <div>
                    <button title="Вырезка фрагмента изображения" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-scissors-541957.png') }}" alt="Размер" width="20">
                    </button>
                </div>

                <!-- Изменение яркости и контрастности -->
                <div>
                    <button title="Изменение яркости и контрастности" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-dark-12126119.png') }}" alt="Размер" width="20">
                    </button>
                </div>

                <!-- Изменение цветового баланса -->
                <div>
                    <button title="Изменение цветового баланса" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-rgb-7330490.png') }}" alt="Размер" width="20">
                    </button>
                </div>

                <!-- Добавление шума -->
                <div>
                    <button title="Добавление шума" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-seasoning-5324877.png') }}" alt="Размер" width="20">
                    </button>
                </div>
                <!-- Размытие -->
                <div>
                    <button title="Размытие" name="change_form_toggle">
                        <img src="{{ url_for('static', filename='images/free-icon-blur-466337.png') }}" alt="Размер" width="20">
                    </button>
                </div>
                
            </div>

            <!-- Область для изображения -->
            <div class="image-container">
                <img id="preview-image" 
                    src="{{ url_for('static', filename='uploads/current_image.png') if temp_filename else '' }}" 
                    alt="Обработанное изображение" 
                    style="max-width: 100%;"
                    onload="document.querySelector('.no-image-message').style.display='none';"
                    onerror="this.style.display='none'; document.querySelector('.no-image-message').style.display='block';">
                
                <div class="no-image-message" id="no-image-message">
                    Пожалуйста, загрузите изображение
                </div>
            </div>

            <!-- Панель детальной настройки инструментов -->
            <!-- Кароче, здесь у вас дивы для форм ваших функций. Они расположены по порядку соответсвенно кнопкам (они выше) -->
            <div class="toolbar-settings-container">
                
                <div name="change_form">
                    <span>Размер изображения</span><br>
                    <span id="size_change_label">1x</span><br>
                    <input type="range" id="size_change" min="0.1" max="5" step="0.01" value="1">

                    <br><br>

                    <span>Угол поворота</span><br>
                    <span id="rotation_change_label">0°</span><br>
                    <input type="range" id="rotation_change" min="-180" max="180" step="1" value="0"><br>

                    <span>Вертикальное отражение</span>
                    <input type="checkbox" id="vertical_flip_change"><br>
                    
                    <span>Горизонтальное отражение</span>
                    <input type="checkbox" id="horizontal_flip_change">
                </div>

                <!-- Вырезка фрагмента изображения -->
                <div name="change_form">
                    <span>Координаты вырезки</span><br>
                    <span>x:</span><input type="number" id="x_crop_coord_change" min="0" max="99" value="0"><br>
                    <span>y:</span><input type="number" id="y_crop_coord_change" min="0" max="99" value="0">

                    <br>
                    <span>Размер вырезки</span><br>
                    <span>Ширина:</span><input type="number" id="crop_width_change" min="1" max="100" value="100"><br>
                    <span>Высота:</span><input type="number" id="crop_height_change" min="1" max="100" value="100">
                </div>

                <!-- Изменение яркости и контрастности -->
                <div name="change_form">
                    <span>Яркость: </span>
                    <span id="brightness_change_label">1</span><br>
                    <input type="range" id="brightness_change" min="0.1" max="2", step="0.1" value="1">

                    <br><br>
                    <span>Констраст: </span>
                    <span id="contrast_change_label">1</span><br>
                    <input type="range" id="contrast_change" min="0" max="20" , step="0.2" value="0">
                </div>

                <!-- Изменение цветового баланса -->
                <div name="change_form">
                    <span>Красный:</span><span id="red_channel_change_label">1</span><br>
                    <input type="range" id="red_channel_change" min="0.1" max="5" step="0.1" value="1"><br>

                    <span>Зеленый:</span><span id="green_channel_change_label">1</span><br>
                    <input type="range" id="green_channel_change" min="0.1" max="5" step="0.1" value="1"><br>

                    <span>Синий:</span><span id="blue_channel_change_label">1</span><br>
                    <input type="range" id="blue_channel_change" min="0.1" max="5" step="0.1" value="1"><br>
                </div>

                <!-- Добавление шума -->
                <div name="change_form">
                    <select id="noise_method">
                        <option selected value="nothing">Без шума</option>
                        <option value="gauss">Гауссов шум (разноцветный)</option>
                        <option value="salt_pepper">Соль-перец (черно-белый)</option>
                    </select><br>

                    <div id="gauss_noise_form" style="display:none">
                        <label for="noise_sigma_change">Интенсивность шума: </label><span id="noise_sigma_change_label">1</span><br>
                        <input type="range" id="noise_sigma_change" min="1" max="30" step="1" value="1"><br>
                    </div>

                    
                    <div id="salt_pepper_noise_form" style="display:none">
                        <label for="salt_intensity_change">Сила белых пикселей: </label><span id="salt_intensity_change_label">0</span><br>
                        <input type="range" id="salt_intensity_change" min="0" max="4" step="0.1" value="0"><br>
    
                        <label for="pepper_intensity_change">Сила черных пикселей: </label><span id="pepper_intensity_change_label">0</span><br>
                        <input type="range" id="pepper_intensity_change" min="0" max="4" step="0.1" value="0"><br>
                    </div>                    

                </div>

                <!-- Размытие -->
                <div name="change_form">
                    <select id="blur_method">
                        <option selected value="nothing">Без размытия</option>
                        <option value="gauss">Гауссовоо размытие</option>
                        <option value="mean">Усреднение</option>
                        <option value="median">Медиана</option>
                    </select><br>

                    <span>Радиус размытия: </span><span id="conv_radius_change_label">1</span><br>
                    <input disabled="true" type="range" id="conv_radius_change" min="1", max="31" step="2" value="1"><br>

                    <span>Сила размытия:</span> <span id="blur_weight_change_label">1</span><br>
                    <input disabled="true" type="range" id="blur_weight_change" min="1" max="20" step="1" value="1"><br>
                </div>
            </div>

        </div>
    
    </div>
</body>
</html>