<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon1.svg') }}">
    <title>Редактор растровой графики</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">

        <!-- Ссылки на другие редакторы -->
        <div class="pagesbar">
            <a href="{{ url_for('name') }}">Растровая графика</a>
            <a href="{{ url_for('vector_graphics') }}">Векторная графика</a>
            <a href="{{ url_for('three_d_graphics') }}">3D графика</a>
        </div>
        
        <!-- Панель закрузки и сохранения -->
        <div class="toolbar">
            <!-- Форма для загрузки изображения -->
            <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="file" id="imageInput" name="image" accept="image/*" required>
                <button type="submit">Загрузить изображение</button>
            </form>
            
            <!-- Форма вызагрузки изображения -->
            <form action="/save" method="post" class="save-form">
                <input type="hidden" name="temp_filename" value="{{ temp_filename }}">
                <div class="save-options">
                    <label>Формат сохранения:</label>
                    <select name="format" required>
                        <option value="JPEG">JPEG</option>
                        <option value="PNG">PNG</option>
                        <option value="TIFF">TIFF</option>
                    </select>
                    
                    <label>Качество (только для JPEG):</label>
                    <input type="range" name="quality" min="1" max="100" value="95">
                    <span class="quality-value">95%</span>
                </div>
                <button type="submit">Сохранить изображение</button>
            </form>

            <!-- Другие формы -->
        </div>

        <!-- Сообщения об ошибках -->
        {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
        {% endif %}
        
        <div class="workspace-container">

            <!-- Панель инструментов -->
            <div class="toolbar-container">
                
                <!-- Изменение размера -->
                <form action="/size" method="post">
                    <button type="submit" title="Изменение размера">
                        <img src="{{ url_for('static', filename='images/free-icon-resize-724946.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Вырезка фрагмента изображения -->
                <form action="/cut" method="post">
                    <button type="submit" title="Вырезка фрагмента изображения">
                        <img src="{{ url_for('static', filename='images/free-icon-scissors-541957.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Зеркальное отражение -->
                <form action="/reflection" method="post">
                    <button type="submit" title="Зеркальное отражение">
                        <img src="{{ url_for('static', filename='images/free-icon-mirror-image-5951864.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Изменение яркости и контрастности -->
                <form action="/bright" method="post">
                    <button type="submit" title="Изменение яркости и контрастности">
                        <img src="{{ url_for('static', filename='images/free-icon-dark-12126119.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Изменение цветового баланса -->
                <form action="/eqilibrum" method="post">
                    <button type="submit" title="Изменение цветового баланса">
                        <img src="{{ url_for('static', filename='images/free-icon-rgb-7330490.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Добавление шума -->
                <form action="/noise" method="post">
                    <button type="submit" title="Добавление шума">
                        <img src="{{ url_for('static', filename='images/free-icon-seasoning-5324877.png') }}" alt="Размер" width="20">
                    </button>
                </form>

                <!-- Размытие -->
                <form action="/blure" method="post">
                    <button type="submit" title="Размытие">
                        <img src="{{ url_for('static', filename='images/free-icon-blur-466337.png') }}" alt="Размер" width="20">
                    </button>
                </form>
                
            </div>

            <!-- Область для изображения -->
            <div class="image-container">
                {% if temp_filename %}
                    <img src="{{ url_for('static', filename='uploads/' + temp_filename) }}" alt="Обработанное изображение" style="max-width: 100%;">
                {% else %}
                    <div class="no-image-message">
                        Пожалуйста, загрузите изображение
                    </div>
                {% endif %}
            </div>

            <!-- Панель детальной настройки инструментов -->
            <div class="toolbar-settings-container">
                
            </div>

        </div>
    
    </div>
</body>
</html>